body {
    font-family: 'Sawarabi Mincho',sans-serif;;
}



.container {
    background-color: #283b42;
    text-align: center;
}
header {
    text-align:center ;
    color: azure;
}
p {
    color: azure;
}
p.awareness {
    color: blanchedalmond;
}
#awareness {
    background-color: #1d6a96;
    color: blanchedalmond;
}
h6 {
    text-align: center;
    text-decoration: underline;
}
.underline {
    text-decoration: underline;
}