.navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1d6a96;
  min-height: 10vh;
}
.logo h3{
  color: whitesmoke;
  letter-spacing: 3px;
  font-size: 3rem;
}
.navigation .nav-bar .nav-links{
  float: right;
}
.navigation .nav-bar ul li{
  float: left;
  padding: 1rem;
  list-style-type: none;
}
.navigation .nav-bar ul li a{
  color: whitesmoke;
  font-weight: 600;
  text-decoration: none;
} 
.navigation .nav-bar ul li a:hover{
  color: white;
}
.bars{
  display: none;
  cursor: pointer;
}
.bars div{
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: whitesmoke;
}

/* Media Query for the nav bar */
@media screen and (max-width: 768px){
  .body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0;
    top: 11vh;
    height: 90vh;
    width: 60%;
    background-color: #1d6a96;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform .5s ease-in;
  }
  .navigation .bars{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}