@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap'); 

body {
    margin: 0;
    padding: 0;
}
.section4 {
    background: url(./assets/blue.jpg);
    height: auto;
    font-family: 'Sawarabi Mincho', sans-serif;
    text-align: center;
    color: white;
}
.img-fluid {
    padding-bottom: 1rem;
}
.tabo {
    height: 50%;
    width: 100%;
}
.tabo1 {
    height: 50%;
    width: 100%;
}
.tabo2 {
    height: 50%;
    width: 100%;
}
.tabo3 {
    height: 50%;
    width: 100%;
}